
@model IEnumerable<project_webbservice.Models.Avatar>

@{
    // Cast ViewData["AvatarUsageCountList"] to the appropriate type
    var avatarUsageCountList = ViewData["AvatarUsageCountList"] as List<(int AvatarId, int UsageCount)>;
}

@{
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<!DOCTYPE html>

<html>

<head>
    <meta name="viewport" content="width=device-width" />
    <title>Index</title>
</head>

<body>
    <div class="page-title">
        <h1>Avatars</h1>
    </div>
    <p>
        <a asp-action="Create">Create New</a>
    </p>
    @* <table class="table">
    <thead>
    <tr>
    <th>
    @Html.DisplayNameFor(model => model.AvatarImageName)
    </th>
    <th></th>
    </tr>
    </thead>
    <tbody>
    @foreach (var item in Model)
    {
    <tr>
    <td>
    @Html.DisplayFor(modelItem => item.AvatarImageName)
    </td>
    <td>
    <a asp-action="Edit" asp-route-id="@item.AvatarId">Edit</a> |
    <a asp-action="Details" asp-route-id="@item.AvatarId">Details</a> |
    <a asp-action="Delete" asp-route-id="@item.AvatarId">Delete</a>
    </td>
    </tr>
    }
    </tbody>
    </table> *@

    <div class="row d-flex justify-content-center">
        @foreach (var item in Model)
        {
            <div class="avatar-img-box col-lg-2 col-sm-3">
                <div>
                    <img class="avatar-img" src="@($"imgupload/{item.AvatarImageName}")" alt="avatar @(item.AvatarId)" />
                </div>
                <div>
                    <p>@item.AvatarId</p>
                </div>
                <div class="mb-4">
                    <a asp-action="Edit" asp-route-id="@item.AvatarId">Edit</a> |
                    <a asp-action="Details" asp-route-id="@item.AvatarId">Details</a> |
                    <a asp-action="Delete" asp-route-id="@item.AvatarId">Delete</a>
                </div>
            </div>
        }
    </div>

</body>

</html>
