@model IEnumerable<project_webbservice.Models.User>

@{
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<!DOCTYPE html>
<html>

<head>
    <meta name="viewport" content="width=device-width" />
    <title>Index</title>
</head>

<body>
    <div class="page-title">
        <h1>Users</h1>
    </div>
    <div class="mt-4 mb-5">
        <a asp-action="Create" class="button standard">Create New <i class="fa-plus fa-solid fa-1x"></i></a>
    </div>

    <div>
        <h5>Search users by name, username or email</h5>
    </div>
    <form class="mb-4" asp-action="Index" asp-controller="User" method="get">
        <input class="user-searchinput" placeholder="Search" name="searchstring" type="search" aria-label="search" />
        <button type="submit" class="button standard">Search</button>
        @if (!string.IsNullOrEmpty(ViewBag.search))
        {
            <text>
                <div class="mt-2 ">
                    Search for "<em>@ViewBag.search</em>" <a asp-action="Index" asp-controller="User">Remove search</a>
                </div>
            </text>
        }
        else
        {
            <text></text>
        }
    </form>


    <table class="table">
        <thead>
            <tr>
                <th>@Html.DisplayNameFor(model => model.UserId)</th>
                <th>@Html.DisplayNameFor(model => model.Username)</th>
                <th>@Html.DisplayNameFor(model => model.Name)</th>
                <th>@Html.DisplayNameFor(model => model.Email)</th>
                <th>@Html.DisplayNameFor(model => model.Created)</th>
                <th></th>
            </tr>
        </thead>
        <tbody>
            @foreach (var item in Model)
            {
                <tr class="user-table-row" onclick="redirectToDetails(@item.UserId)">
                    <td>@item.UserId</td>
                    <td>@item.Username</td>
                    <td>@item.Name</td>
                    <td>@item.Email</td>
                    <td>@item.Created</td>
                </tr>
            }
        </tbody>
    </table>
</body>

</html>

<style>
    .user-searchinput {
        width: 30%;
        border-radius: 3px;
        height: 2.5em;
        padding: 0.5em;

    }
</style>

<script>
    function redirectToDetails(userId) {
        window.location.href = '@Url.Action("Details", "User")/' + userId;
    }
</script>