@model IEnumerable<project_webbservice.Models.UserAudio>

@{
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<!DOCTYPE html>

<html>

<head>
    <meta name="viewport" content="width=device-width" />
    <title>Index</title>
</head>

<body>
    <p>
        <a asp-action="Create">Create New</a>
    </p>
    <table class="table">
        <thead>
            <tr>
                <th>
                    @Html.DisplayNameFor(model => model.UserAudioId)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.User)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.Audio)
                </th>
                <th></th>
            </tr>
        </thead>
        <tbody>
            @foreach (var item in Model)
            {
                <tr>
                    <td>
                        @Html.DisplayFor(modelItem => item.UserAudioId)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.User.Name)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.Audio.AudioID)
                    </td>
                    <td>
                        <a asp-action="Edit" asp-route-id="@item.UserAudioId">Edit</a> |
                        <a asp-action="Details" asp-route-id="@item.UserAudioId">Details</a> |
                        <a asp-action="Delete" asp-route-id="@item.UserAudioId">Delete</a>
                    </td>
                </tr>
            }
        </tbody>
    </table>
</body>

</html>
