@model project_webbservice.Models.Audio

@{
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<!DOCTYPE html>

<html>

<head>
    <meta name="viewport" content="width=device-width" />
    <title>Details</title>
</head>

<body>

    <div>
        <h4>Meditations - details</h4>
        <hr />
        <div class="col-sm-10 my-5 audio-details-box mx-auto">
            <dl class="row">
                <dt class="col-sm-2">
                    @Html.DisplayNameFor(model => model.Title)
                </dt>
                <dd class="col-sm-10">
                    @Html.DisplayFor(model => model.Title)
                </dd>
                <dt class="col-sm-2">
                    @Html.DisplayNameFor(model => model.Description)
                </dt>
                <dd class="col-sm-10">
                    @Html.DisplayFor(model => model.Description)
                </dd>
                <dt class="col-sm-2">
                    @Html.DisplayNameFor(model => model.FilePath)
                </dt>
                <dd class="col-sm-10">
                    @Html.DisplayFor(model => model.FilePath)
                </dd>
                <dt class="col-sm-2">
                    @Html.DisplayNameFor(model => model.Created)
                </dt>
                <dd class="col-sm-10">
                    @Html.DisplayFor(model => model.Created)
                </dd>
                <dt class="col-sm-2">
                    @Html.DisplayNameFor(model => model.Category)
                </dt>
                <dd class="col-sm-10 audio-details-categorybutton" onclick="redirectToDetails(@Model.Category.CategoryId)">
                    @Html.DisplayFor(model => model.Category.Name)
                </dd>
            </dl>

            <audio class="audio mt-3 mb-1" controls
                src="~/audioupload/@Html.DisplayFor(model => model.FilePath)"></audio>

            <div class="my-4">
                <a class="button standard" asp-action="Index">Back to List</a>
                <a class="button standard" asp-action="Edit" asp-route-id="@Model?.AudioID">Edit</a>
                <a class="button delete" asp-action="Delete" asp-route-id="@Model?.AudioID">Delete</a>
            </div>
        </div>

    </div>



    <script>

        function redirectToDetails(CategoryId) {
            window.location.href = '@Url.Action("Details", "Category")/' + CategoryId;
        }

    </script>


    <style>
        .audio-details-categorybutton{
            cursor: pointer;
            text-decoration: underline;
        }
         .audio-details-categorybutton:hover{
            color: black;
            text-decoration: underline;
        }
    </style>
</body>

</html>
