@model IEnumerable<project_webbservice.Models.Audio>

@{
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<!DOCTYPE html>

<html>

<head>
    <meta name="viewport" content="width=device-width" />
    <title>Index</title>
</head>

<body>
    <div class="page-title">
        <h1>Meditations</h1>
    </div>
    <div class="mt-4">
        <a asp-action="Create" class="button standard">Create New <i class="fa-plus fa-solid fa-1x"></i></a>
    </div>

    @* <table class="table">
    <thead>
    <tr>
    <th>
    @Html.DisplayNameFor(model => model.AudioID)
    </th>
    <th>
    @Html.DisplayNameFor(model => model.Title)
    </th>
    <th>
    @Html.DisplayNameFor(model => model.Description)
    </th>
    <th>
    @Html.DisplayNameFor(model => model.Duration)
    </th>
    <th>
    @Html.DisplayNameFor(model => model.ImageName)
    </th>
    <th>
    @Html.DisplayNameFor(model => model.ImageNameOriginal)
    </th>
    <th>
    @Html.DisplayNameFor(model => model.Created)
    </th>
    <th>
    @Html.DisplayNameFor(model => model.FilePath)
    </th>
    <th>
    @Html.DisplayNameFor(model => model.Category)
    </th>
    <th></th>
    </tr>
    </thead>
    <tbody>
    @foreach (var item in Model)
    {
    <tr>
    <td>
    @Html.DisplayFor(modelItem => item.AudioID)
    </td>
    <td>
    @Html.DisplayFor(modelItem => item.Title)
    </td>
    <td>
    @Html.DisplayFor(modelItem => item.Description)
    </td>
    <td>
    @Html.DisplayFor(modelItem => item.Duration)
    </td>
    <td>
    @Html.DisplayFor(modelItem => item.ImageName)
    </td>
    <td>
    @Html.DisplayFor(modelItem => item.ImageNameOriginal)
    </td>
    <td>
    @Html.DisplayFor(modelItem => item.Created)
    </td>
    <td>
    @Html.DisplayFor(modelItem => item.FilePath)
    </td>
    <td>
    @Html.DisplayFor(modelItem => item.Category.Name)
    </td>
    <td>
    <a asp-action="Edit" asp-route-id="@item.AudioID">Edit</a> |
    <a asp-action="Details" asp-route-id="@item.AudioID">Details</a> |
    <a asp-action="Delete" asp-route-id="@item.AudioID">Delete</a>
    </td>
    </tr>
    }
    </tbody>
    </table> *@

    <div class="row d-flex justify-content-center my-5">
        @foreach (var item in Model)
        {
            <div class="audio-box mt-2 mb-1 mx-1 col-lg-2 col-md-3" style="background-image: url('imgupload/@item.ImageName');"
                onclick="redirectToDetails(@item.AudioID)">
                <audio class="audio mt-3 mb-1" controls src="audioupload/@Html.DisplayFor(modelItem => item.FilePath)"></audio>
                <div class="audio-box-content">
                    <h1 class="title">@item.Title</h1>
                    <a class="category link" asp-action="Details" asp-controller="Category"
                        asp-route-id="@item.Category.CategoryId"><em>@item.Category.Name</em></a>
                    @if (item.Description != null)
                    {
                        <p class="description my-3">@(item.Description.Length > 75 ? item.Description.Substring(0, 75) + "..."
                    :
                    item.Description)</p>
                    }
                </div>
                <div class="d-flex flex-column align-items-center">
                    <a asp-action="Edit" asp-route-id="@item.AudioID" class="button standard full-size">Edit</a>
                    <a asp-action="Details" asp-route-id="@item.AudioID" class="button standard full-size">Details</a>
                    <a asp-action="Delete" asp-route-id="@item.AudioID" class="button standard full-size">Delete</a>
                </div>
                @* <div class="d-flex button-box px-1">
            <a asp-action="Edit" asp-route-id="@item.AudioID">Edit</a> |
            <a asp-action="Details" asp-route-id="@item.AudioID">Details</a> |
            <a asp-action="Delete" asp-route-id="@item.AudioID">Delete</a>
            </div> *@
            </div>
        }
    </div>

</body>

</html>

<script>
    function redirectToDetails(audioId) {
        window.location.href = '@Url.Action("Details", "Audio")/' + audioId;
    }
</script>